<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Filter input and button -->
  <mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <input matInput [(ngModel)]="filterKey" placeholder="Enter Keyword">
  </mat-form-field>
  <button mat-icon-button (click)="getDatabyFilter(filterKey)">
    <mat-icon>search</mat-icon>
  </button>
  
  <!-- Angular Material Tree -->
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    
    <!-- Node definition with input fields for general nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <!-- Expand/Collapse button -->
      <button mat-icon-button [hidden]="!node.expandable">
        <mat-icon>expand_more</mat-icon>
      </button>
      {{node.item}}
      <!-- Button to toggle input field visibility -->
      <button mat-icon-button (click)="toggleAdd(node)">
        <mat-icon>add</mat-icon>
      </button>
      <mat-form-field appearance="fill" *ngIf="node.isAdding">
        <mat-label>enter new child node</mat-label>
        <input matInput [(ngModel)]="nodeInput[node.item]" placeholder="enter new child node">
      </mat-form-field>
      <button mat-icon-button *ngIf="node.isAdding" (click)="createNode(node)">
        <mat-icon>save</mat-icon>
      </button>

      <button mat-icon-button (click)="deleteNode(node.id)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleUpdate(node)">
        <mat-icon>edit</mat-icon>
      </button>
      <!-- Input field and select dropdown for updating node details -->
      <mat-form-field appearance="fill" *ngIf="node.isUpdating">
        <mat-label>Update Node Name</mat-label>
        <input matInput [(ngModel)]="nodeInput[node.item]" placeholder="Node Name">
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="node.isUpdating">
  <mat-label>Select new parent node</mat-label>
  <mat-select [(ngModel)]="updatedParent">
    <mat-option *ngFor="let parent of validParents" [value]="parent.id">
      {{ parent.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
      <button mat-icon-button  *ngIf="node.isUpdating" (click)="editNode(node)">
        <mat-icon>save</mat-icon>
      </button>
    </mat-tree-node>
  
    <!-- Node definition for nodes without content -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
      <!-- Expand/Collapse button is hidden for nodes without content -->
      <button mat-icon-button [hidden]="!node.expandable"></button>
      <button mat-icon-button (click)="toggleInputField()">
        <mat-icon>add</mat-icon>
      </button>
      <!-- Input field for adding a new node -->
      <mat-form-field appearance="fill" *ngIf="node.isAdding">
        <mat-label>enter new child node</mat-label>
        <input matInput [(ngModel)]="nodeInput[node.item]" placeholder="enter new child node">
      </mat-form-field>
      <button mat-button *ngIf="node.isAdding" (click)="createNode(node)">
          <mat-icon>save</mat-icon>
      </button>
      <!-- Buttons for delete and edit operations -->
      <button mat-button (click)="deleteNode(node.id)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleUpdate(node)">
        <mat-icon>edit</mat-icon>
      </button>
      <!-- Input field and select dropdown for updating node details -->
      <mat-form-field appearance="fill" *ngIf="node.isUpdating">
        <mat-label>Update Node Name</mat-label>
        <input matInput [(ngModel)]="nodeInput[node.item]" placeholder="Node Name">
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="node.isUpdating">
  <mat-label>Select new parent node</mat-label>
  <mat-select [(ngModel)]="updatedParent">
    <mat-option *ngFor="let parent of validParents" [value]="parent">
      {{ parent.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
      <button mat-icon-button  *ngIf="node.isUpdating" (click)="editNode(node)">
        <mat-icon>save</mat-icon>
      </button>
    </mat-tree-node>
  
    <!-- Node definition for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle (click)="toggleExpand(treeControl.isExpanded(node), node)">
        <mat-icon>
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.item}}
      <!-- Button to toggle input field visibility -->
      <button mat-icon-button (click)="toggleAdd(node)">
        <mat-icon>add</mat-icon>
      </button>
      <mat-form-field appearance="fill" *ngIf="node.isAdding">
        <mat-label>enter new child node</mat-label>
        <input matInput [(ngModel)]="nodeInput[node.item]" placeholder="enter new child node">
      </mat-form-field>
      <!-- Input field for adding a new node -->
      <button mat-icon-button *ngIf="node.isAdding" (click)="createNode(node)">
        <mat-icon>save</mat-icon>
      </button>
      <!-- Buttons for delete and edit operations -->
      <button mat-icon-button (click)="deleteNode(node.id)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleUpdate(node)">
        <mat-icon>edit</mat-icon>
      </button>
      <!-- Input field and select dropdown for updating node details -->
      <mat-form-field appearance="fill" *ngIf="node.isUpdating">
        <mat-label>Update Node Name</mat-label>
        <input matInput [(ngModel)]="nodeInput[node.item]" placeholder="Node Name">
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="node.isUpdating">
  <mat-label>Select new parent node</mat-label>
  <mat-select [(ngModel)]="updatedParent">
    <mat-option *ngFor="let parent of validParents" [value]="parent.id">
      {{ parent.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
      <button mat-icon-button  *ngIf="node.isUpdating" (click)="editNode(node)">
        <mat-icon>save</mat-icon>
      </button>
    </mat-tree-node>
  </mat-tree>
</body>
</html>
